{#
/**
 * @file
 * Theme implementation of shopping card block.
 *
 * Available variables
 * - attributes: block attributes, eg classes, ids etc.
 * - url: url of shopping cart page.
 * - icon: icon of shopping cart.
 * - count: number of items in the cart.
 * - count_text: text indicating number of items in the cart: 'X items'.
 * - content: rendered view of shopping carts.
 * - links: array of links to card page.
 * - dropdown: flag indicating whether content should be rendered and displayed in dropdown div.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes}}>
  <div class="cart-block--summary">
    <a class="cart-block--link__expand" href="{{ url }}">
      <span class="cart-block--summary__icon">{{ icon }}</span>
      <span class="cart-block--summary__count">{{ count_text }}</span>
    </a>
  </div>
  {% if content %}
  <div class="cart-block--contents">
    <div class="cart-block--contents__inner">
      <div class="cart-block--contents__items">
        {{ content }}
      </div>
      <div class="cart-block--contents__links">
        {{ links }}
      </div>
    </div>
  </div>
  {% endif %}
</div>
