<div class="system-status-general-info commerce-shipping-info">
  <h2 class="system-status-general-info__header">{{ 'Shipping and Fulfillment Resources'|t }}</h2>
  <div class="system-status-general-info__items">
    <div class="system-status-general-info__item commerce-shipping__item">
      <span class="commerce-shipping__item-image commerce-shipping__item-image--logo"></span>
      <div class="commerce-shipping__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Login to your ShipStation Dashboard'|t }}</h3>
        <p>{{ 'Login to your ShipStation account to fullfill your orders.'|t }}</p>
        <p><a href="https://ss.shipstation.com/?ref=partner-drupalcommerce" target="_blank" class="button button--small button--primary">{{ 'Login to ShipStation'|t }}</a></p>
      </div>
    </div>
    <div class="system-status-general-info__item commerce-shipping__item">
      <span class="commerce-shipping__item-image commerce-shipping__item-image--logo"></span>
      <div class="commerce-shipping__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Don\'t have a ShipStation account? Sign up for a free trial'|t }}</h3>
        <p>{{ 'ShipStation is the leading web-based order management and shipping software designed to make retailers exceptionally efficient at processing, fulfilling, and shipping their ecommerce orders. Signup for a free trial to see what ShipStation + Drupal Commerce can do together.'|t }}</p>
        <p><a href="https://www.shipstation.com/?ref=partner-drupalcommerce" target="_blank" class="button button--small button--primary">{{ 'Start your free trial'|t }}</a></p>
      </div>
    </div>
  </div>
</div>
